*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: .5px;
}
body{
    background: #e6eff6;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 5% auto; */
    font-family: sans-serif;
}
.container{
    width: 650px;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 10px 10px 10px #d7e5f0,
                -10px 5px 10px #d7e5f0;
    border-radius: 10px;
}
.container-top{
    width: 100%;
    background: #fff;
    padding: 1rem 2rem;
    border-radius: 10px 10px 0 0;
}
.container-top h2{
    color: #42a4a3;
    margin: 1.5rem 0;
}
.container-top h3{
    color: #d3f14b;
    margin: 1rem 0;
}
.container-top-p{
    color: #c5cbd3;
    line-height: 2rem;
    margin-bottom: 2rem;
}
.container-bottom{
    display: flex;
    flex-direction: row;
}
.container-bottom-left{
    width: 100%;
    background: #2bb3b1;
    padding: 2rem 3rem;
    border-radius: 0 0 0 10px;
    color: #fff;
    opacity: .8;
}
.container-bottom-left h3{
    padding: 1rem 0;
}
.container-bottom-left strong{
    font-size: 35px;
}
.container-bottom-left p{
    font-size: 15px;
    padding-bottom: 1rem;
}
.container-bottom-left sup{
    padding-left: 1rem;
    font-size: 15px;
    opacity: .7;
}
.container-bottom-left button{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    background: #bfdf32;
    color: #fff;
    margin-top: 1.5rem;
    cursor: pointer;
}
.container-bottom-left button:hover{
    opacity: .8;
}
.container-bottom-right{
    width: 100%;
    background: #4abebd;
    padding:2rem 3rem;
    border-radius: 0 0 10px 0;
    opacity: .8;
    color: #fff;
}
.container-bottom-right h3{
    padding: 1rem 0;
}
.container-bottom-right li{
    list-style: none;
    line-height: 1.5rem;
    font-size: 15px;
}